<h2>
  <%= _.sample(M.greetings) %>, <%= username %>!
</h2>

<a class="btn btn-default" id="show-bills" href="/bills" role="button">bills</a>
<a class="btn btn-default" id="show-payment-sources" href="/cards" role="button">cards</a>
<a class="btn btn-default" id="signout" href="/" role="button">signout</a>

<div>
  joined on: <%= memberSince %>
</div>

<p>
  <%= first_name %> <%= last_name %>
</p>