<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand show-profile" href="/profile">
        <i class="fa fa-usd"></i> money
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a class="show-profile" href="/profile">
            <i class="fa fa-user"></i>
            <%= localStorage.getItem('username') %>
          </a>
        </li>
        <li>
          <a class="show-bills" href="/bills">
            <i class="fa fa-money"></i> bills
          </a>
        </li>
        <li>
          <a class="show-payment-sources" href="/cards">
            <i class="fa fa-credit-card"></i> cards
          </a>
        </li>
      </ul>

      <p class="navbar-text navbar-right">
        <a class="navbar-link signout" href="/">
          <i class="fa fa-sign-out"></i> signout
        </a>
      </p>
    </div>
  </div>
</nav>

<h2>
  <%= _.sample(M.Utils.Greetings) %>, <%= username %>!
</h2>

<div>
  <ul class="user-details">
    <li><img src="http://www.gravatar.com/avatar/<%= md5(email_address) %>?s=200" alt="profile picture" /></li>
    <li><i class="fa fa-user"></i> <%= first_name %> <%= last_name %></li>
    <li><i class="fa fa-envelope-o"></i> <%= email_address %></li>
    <li><i class="fa fa-clock-o"></i> joined on <%= memberSince %></li>
  </ul>
</div>
