%h3 Profile

%h5
  Hello,
  = get_initials(@user.name)

- if flash.alert || flash.notice
  %div
    = flash.alert || flash.notice

= render partial: 'expenses/form'

- @user.expenses.each do |expense|
  %div
    = expense.store
    = expense.comment
    = number_to_currency(expense.price)

    = link_to 'edit', '#', class: 'edit-expense', data: { id: expense.id, store: expense.store, price: expense.price, comment: expense.comment }
