<span class="badge">
  $<%= amount %>
</span>

<h4 class="list-group-item-heading">
<i class="fa fa-<%- M.IconMap[category.name] %>"></i>
  <%= name %>
</h4>

<div class="list-group-item-text">
  <span>
    <%= moment(next_due_date).format("dddd, MMMM Do YYYY") %>
  </span>

  <span class="gray">
    (repeats <%= repeat_interval.label %>)
  </span>
</div>
